[Unit]
Description=sonarqube
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/sonar/sonar-9.8/sonarqube-9.8.0.63668/bin/linux-x86-64/sonar.sh start
ExecRestart=/opt/sonar/sonar-9.8/sonarqube-9.8.0.63668/bin/linux-x86-64/sonar.sh restart
ExecStop=/opt/sonar/sonar-9.8/sonarqube-9.8.0.63668/bin/linux-x86-64/sonar.sh stop
Restart=on-failure
RestartSec=10
User=sonar
Group=sonar
Type=forking




[Install]
WantedBy=multi-user.target
